version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-localization-backend
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - PORT=3000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

